body{
    background-color: gray;
}
footer{
    background-color: rgb(16, 16, 100);
    text-align: center;
}
p{
    font-family: verdana, arial;
    color: rgb(19, 73, 153);
}
h1{
    font-family: verdana, arial;
    font-weight: bold;
    color: blue;
}
h3{
    font-family: verdana, arial;
    color: blue;
}