body{
    background-image: url(/img/mountain.png);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    font-family: verdana, arial;
}
header{
    background-color: rgb(16, 16, 100);
}
footer{
    background-color: rgb(16, 16, 100);
    text-align: center;
}
p{
    font-family: verdana, arial;
    color: rgb(117, 17, 109);
    font-size: 18px;
}
h2{
 font-family: verdana, arial;
 color: rgb(117, 17, 109);
}
h1{
    font-family: verdana, arial;
    color:rgb(117, 17, 109)
}
p1{
    font-family: verdana, arial;
    font-size: 18px;
    font-style: italic;
    color: rgb(17, 117, 92);
    font-weight: bold;
}
hr{
    color: rgb(6, 18, 59);
}